* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    background-color: #121212;
    background-size: cover;
    width: 100%;

}

@media only screen and (max-width: 450px) {
    .container {
        width: 100%;
    }
}

.container p {
    color: #BCC2CA;
    position: absolute;
    font-size: 17px;
    top: 40%;
    left: 17%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 450px) {
    .container p {
        color: #BCC2CA;
        position: absolute;
        width: 400px;
        text-align: center;
        font-size: 17px;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.container h1 {
font-size: 55px;
position: absolute;
top: 47%;
left: 22%;
transform: translate(-50%, -50%);
font-weight: 800;
color: #608CFF;
}


@media only screen and (max-width: 390px) {
    .container h1 {
        font-size: 35px;
        position: absolute;
        width: 400px;
        text-align: center;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 800;
        color: #608CFF;
        z-index: 1000;
    }
}
.container h6 {
    color: #BCC2CA;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    top: 53%;
    left: 8%;
}

@media only screen and (max-width: 390px) {
    .container h6 {
        color: #BCC2CA;
        font-size: 16px;
        text-align: center;
        font-weight: 300;
        width: 550px;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: 400px;
    }
}

.container button {

    background-color: #1A1A1A;
    border: none;
    width: 180px;
    height: 50px;
    font-size: 16px;
    color: white;
    border-radius: 55px;
    transition-duration: 0.25s;
    position: absolute;
    top: 65%;
    left: 7.75%;
}

@media only screen and (max-width: 390px) {
    .container button {
        background-color: #1A1A1A;
        border: none;
        width: 180px;
        height: 50px;
        font-size: 16px;
        color: white;
        border-radius: 55px;
        transition-duration: 0.25s;
        position: absolute;
        top: 87%;
        left: 28%;
        transform: translate(-50%, -50%);
        z-index: 10000;
    }
}

.container h2 {
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    top: 66.5%;
    left: 23%;
    transition-duration: 0.3s;
}

@media only screen and (max-width: 390px) {
    .container h2 {
        color: white;
        font-size: 17px;
        font-weight: 500;
        position: absolute;
        width: 200px;
        top: 87%;
        left: 86%;
        transform: translate(-50%, -50%);
        transition-duration: 0.3s;
    }
}


.container h2:hover {
    color: #608CFF;
    margin-top: -5px;
}

.container button:hover {
    box-shadow: inset 15em 0 0 0 #608CFF;
}
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  .container img {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 77%;
    transform: translate(-50%, -50%);
    transition-duration: 0.5s;
  }

  .container img:hover {
    width: 620px;
  }

  @media only screen and (max-width: 390px) {
    .container img {
        width: 400px;
        position: absolute;
        top: 32%;
        left: 52%;
        transform: translate(-50%, -50%);
        transition-duration: 0.5s;
    }
  }

  @media only screen and (max-width: 390px) {
    .container img:hover {
        width: 450px;
    }
  }

  @media only screen and (max-width: 390px) {
    body {
        overflow: hidden;
        width: 500px;
    }
  }

  .container h5 {
    font-size: 14px;
    color: white;
    font-weight: 100;
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container .iamnyf {
    color: #608CFF;
    text-decoration: underline;
  }